body {
    background-color: #888;
    margin: 25px;
}

/*#wrapper {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}*/

div.content {

}

#schedule {
    border-collapse: collapse;
    background-color: #dfdfdf;
    color: #3a5673;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 275px;
} 

#schedule th, #schedule td {
    padding:3px 7px 2px 7px;
}

#schedule td {
    border: thin solid #A0B5CA;
}

#schedule th {
    background-color: #264a62; 
    border: thin solid #264a62;
    border-bottom: none;
    font-size:1.2em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    color:#ffffff;
}

#schedule tr.even td {
    background: #f0f0f0 url(background.png) no-repeat;
}

#schedule tr.top th {
    text-decoration: underline;
    vertical-align: top;
    font-size:1.2em;
    padding-bottom: 0;
}

#schedule-container {
    position: relative;
    width: 40em;
} 

#calendar {
    position: absolute;
    top: 0;
    right: 0;
} 

/*
#previous, #next {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

#previous {
    position: absolute;
    top: 0;
    left: 0;
} 

#next {   
    position: absolute;
    top: 0;
    right: 0;
} 
*/
h1.main {
    width: 100%;
    text-size: 2em;
}

p.footer{
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid #000;
}

a {
    text-decoration: none;
    color: #506b89;
}

a:hover {
    text-decoration: underline;
}

div#flash .message {
    color: orangered;
}